@media (max-width: 768px) {
    .header-titulo {
        font-size: 30px;
    }

    .section-principal {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

@media (max-width: 425px) {
    .header-titulo {
        font-size: 30px;
    }

    .section-principal {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

@media (max-width: 375px) {
    .header-titulo {
        font-size: 30px;
    }

    .section-principal {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
